body{
    width: 80%;
    font-size: 14px;
    font-family: helvetica;
    margin: auto;
}

nav{
    background: black;
    width: 100%;

}
nav ul{
    margin: 0px;
    padding: 0px;
    overflow: hidden;

}
nav #menuprincipal{
    background: black;
    font-size: 14px;
    height: 37px;
}

nav #menuprincipal ul li{
    float: left;
    list-style: none;

}

nav #menuprincipal ul li a{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    text-align: center;

}

nav #menuprincipal ul li a:hover{
    font-weight: bold;
    background: #4c6ff3;
    transition:all 1s ;

}

aside{
    float: left;
    width: 27%;
    margin-top: 10px;
    
}
